<button (click)="openApiKeyDialog()">Öffne Benutzerinformationen Dialog</button>
<h1>Repos:</h1>
<div>
  <mat-button-toggle-group>  
    <mat-button-toggle
      *ngFor="let button of buttons"
      [value]="button.id"
      (click)="handleClick2(button.id, button.label)"
    >
      {{ button.label }}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div>
  <button (click)="handleClick()">Zeige/verstecke Commits</button>
</div>

<div *ngIf="isElementVisible">
  <h1>Commits:</h1>
  <ul>
    <li *ngFor="let item of commits">{{ item }} </li>
  </ul>
</div>

<div *ngIf="isElementVisible">
    <h1>Commits data:</h1>
    <ul>
      <li *ngFor="let item of commitData[0].author">{{ item }} </li>
    </ul>
  </div>
