<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="push"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <mat-toolbar-row>
        <button
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawerToggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
          <!-- menu or close -->
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item [routerLink]="'github'">
        <mat-label>
          Github
          <mat-icon mat-list-icon>person</mat-icon>
        </mat-label>
      </mat-list-item>

      <mat-list-item [routerLink]="'calculator'">
        <mat-label>
          Calculator
          <mat-icon mat-list-icon>calculate</mat-icon>
        </mat-label>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawerToggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          <!-- menu or close -->
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
